*{
	box-sizing: border-box;
}

body{
	background-color: #ffffff;
}

.search__form {
	width: 350px;
	height: 40px;
	border-radius: 6px;
	background-color: #f5fafe;
}

.search__strich {
	background-color: green;
}


.user__photo {
	text-decoration: none;
}

.user__name {
	padding-left: 10px;	
}

.header-menu {
}
.menu {

		.menu__sidebar {

		}

}

.header-menu__item, a{
   list-style-type: none;
	text-decoration: none;
	color: brown;
}

